*.pyc
.DS_Store
.R*
__pycache__/
oldResults/
Icon*
tmp-*.tex
pw.txt
*.blg
*.glg
*.gls
*.lof
*.lot
*.toc
*.log
*.aux
*.bbl
*.ist
*.fls
*.glo
*.glsdefs
*.pdf
*.loa
*.swp
*.bak
cache/
R/
generated_figures/
*_latexmk
.gitattributes
